//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 30 21:12:52 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SSEG_OUT<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "SSEG_OUT<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "SSEG_OUT<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "SSEG_OUT<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SSEG_OUT<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "SSEG_COM0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "SSEG_OUT<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "SSEG_OUT<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

