NET "BTN4" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN4" LOC = P48;

NET "MN1[7]" LOC = P88;
NET "MN1[6]" LOC = P87;
NET "MN1[5]" LOC = P85;
NET "MN1[4]" LOC = P84;
NET "MN0[3]" LOC = P92;
NET "MN0[2]" LOC = P93;
NET "MN0[1]" LOC = P94;
NET "MN0[0]" LOC = P95;